<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}- 登录页</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/metisMenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        {# 登录出错提示 #}
                        {% if msg %}
                            <p class="errornote">
                                <font color="#FF0000">{{ msg }}</font>
                            </p>
                        {% endif %}
                        <h3 class="panel-title">请登录</h3>
                    </div>
                    <div class="panel-body">
                        <form action="./" role="form" method="post">
                            <fieldset>
                                {# 添加表单 #}
                                {{ form }}
                                {# 判断是否包含跳转参数，有则跟表单一起发送 #}
                                {% if url %}
                                    <input name="next" type="hidden" value="{{ url }}">
                                {% endif %}
                                {#                                <div class="form-group">#}
                                {#                                    <input class="form-control" placeholder="用户名" name="username" type="text"#}
                                {#                                           autofocus>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <input class="form-control" placeholder="密码" name="password" type="password"#}
                                {#                                           value="">#}
                                {#                                </div>#}
                                <div class="checkbox">
{#                                    <label>#}
{#                                        <input name="remember" type="checkbox" value="Remember Me">保持登录#}
{#                                    </label>#}
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="登录">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
